<%- include('parts/header') %> 


<% var users = users || [] %> 

<section class="pt-4 mt-4">
    <div class="container">
        <h1 class="display-2">Users</h1>
        <form action="/" method="POST" class="my-4 py-4 row">
            <label class="col-4">
                <input type="text" class="form-control" name="user_name" placeholder="Name" required />
            </label>
            <label class="col-4">
                <input type="number" class="form-control" name="user_age" placeholder="Age" required />
            </label>
            <label class="col-4">
                <select name="referal" class="form-select">
                    <% for(let referal of referals) { %> 
                    <option value="<%= referal.referal_id %> "> <%= referal.referal_name %> </option>
                    <% } %> 
                </select>
            </label>    
            <button class="btn btn-outline-primary w-100 mt-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                    <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                    <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                </svg>
            </button>
        </form>
        <% if(!users.length) { %> 
            <h1 class="display-2">Hich kim yo'q</h1>
        <% } %>
        <table class="mt-4 table table-striped table-hover table-bordered w-100 fs-1">
            <thead>
                <tr>
                    <th>#id</th>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Target</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <% for(let user of users) { %>
                    <tr>
                        <td><%= user?.user_id %> </td>
                        <td><%= user?.user_name %> </td>
                        <td><%= user?.user_age %> </td>
                        <td><%= user?.referal_name %> </td>
                        <td>
                            <form action="/remove" method="POST" style="display: inline;">
                                <input type="hidden" value="<%= user.user_id %>" name="user_id">
                                <button class="btn btn-outline-danger w-100" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                    </svg>
                                </button>
                            </form>
                        </td>
                        <td>
                            <form action="/update" method="POST" style="display: inline;">
                                <input type="hidden" value="<%= user.user_name %>" name="dname" />
                                <input type="hidden" value="<%= user.user_age %>" name="dage" />
                                
                                <input type="text" value="<%= user.user_name %>" name="user_name" class="form-control" required />
                                <input type="number" value="<%= user.user_age %>" name="user_age" class="form-control mt-2" required />
                                <button class="btn btn-outline-primary w-100" type="submit">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                    </svg>
                                </button>
                            </form>
                        </td>
                    </tr>
                <% } %>  
            </tbody>
        </table>
    </div>
</section>


<%- include('parts/footer') %> 